* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Inter Grab Web, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;}
a{
  text-decoration: none;
}
    .header{
    height: 90px;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    overflow: hidden;
}

.header-bg{
    background-color:white;
    border-bottom:  1px solid #cfcfcf;
} 
/* .mainContainer{
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex: auto;
    background: transparent;
} */
.searchContainer {
  @apply absolute flex flex-col justify-center p-6 mx-10 bg-white border border-gray-300 rounded-lg top-28 group-hover:border-green-600;
    width: 360px;
    height: 398px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
   z-index: 2;
 }


 .location-input { 
  @apply flex items-center justify-between p-2 my-1 transition duration-300 ease-in-out border rounded;
    
  }
  .location-input:hover {
    border: 1px solid green; 
  }
  #search-input {
    border: 0; 
    outline: none; 
  }

  #search-input:focus {
    border: 0; 
  }
  #btnSearch{
    padding:10px ;
    background-color: #00b14f;
    border-color:#00b14f;
    margin-top: 10px;
  }

#see-all {
  @apply px-4 py-2 text-sm font-bold bg-white border border-gray-700 text-slate-500;
  
}

#see-all:hover {
  @apply text-green-600 border-green-600;
}
